.site {
	#wrapper-navbar {
		background-color: $primary;
		padding-bottom: 4rem;

		.navbar {
			.container {
				.show {
					padding-bottom: 1rem;
				}

				.nav-link {
					@media (max-width: 767px) {

						border-bottom: 0.1rem solid #737373;

					}

					.custom-logo-link {
						img {
							width: 58%;
						}
					}
				}


			}
		}

	}

	.subtitle {
		display: flex;
		justify-content: center;
		text-decoration: underline #16BF12;
		margin-bottom: 0;


		@media (max-width: $sm) {
			font-size: 1.5rem;
		}
	}
}
